useDynLib(stridealign, .registration = TRUE)

export(stride_backend)
export(stride_available_backends)
export(stride_levenshtein)
export(stride_levenshtein_similarity)
export(stride_osa)
export(stride_osa_similarity)
export(stride_true_damerau_levenshtein)
export(stride_true_damerau_levenshtein_similarity)
export(stride_indel)
export(stride_indel_similarity)
export(stride_hamming)
export(stride_hamming_similarity)
export(stride_jaro)
export(stride_jaro_winkler)
export(stride_smith_waterman)
export(stride_needleman_wunsch)
export(stride_smith_waterman_affine)
export(stride_needleman_wunsch_affine)
