useDynLib(stridealign, .registration = TRUE)

export(stride_backend)
export(stride_available_backends)
export(stride_levenshtein)
export(stride_levenshtein_similarity)
export(stride_osa)
export(stride_osa_similarity)
export(stride_true_damerau_levenshtein)
export(stride_true_damerau_levenshtein_similarity)
export(stride_indel)
export(stride_indel_similarity)
export(stride_hamming)
export(stride_hamming_similarity)
export(stride_jaro)
export(stride_jaro_winkler)
export(stride_smith_waterman)
export(stride_needleman_wunsch)
export(stride_smith_waterman_affine)
export(stride_needleman_wunsch_affine)
export(Scorer)
export(LevenshteinScorer)
export(levenshtein_score)
export(levenshtein_normalized_score)
export(levenshtein_scores)
export(levenshtein_normalized_scores)
export(levenshtein_top_k)
export(levenshtein_normalized_top_k)
export(levenshtein_best)
export(levenshtein_normalized_best)
export(damerau_levenshtein_score)
export(damerau_levenshtein_normalized_score)
export(damerau_levenshtein_scores)
export(damerau_levenshtein_normalized_scores)
export(damerau_levenshtein_top_k)
export(damerau_levenshtein_normalized_top_k)
export(damerau_levenshtein_best)
export(damerau_levenshtein_normalized_best)
export(true_damerau_levenshtein_score)
export(true_damerau_levenshtein_normalized_score)
export(true_damerau_levenshtein_scores)
export(true_damerau_levenshtein_normalized_scores)
export(true_damerau_levenshtein_top_k)
export(true_damerau_levenshtein_normalized_top_k)
export(true_damerau_levenshtein_best)
export(true_damerau_levenshtein_normalized_best)
export(indel_score)
export(indel_normalized_score)
export(indel_scores)
export(indel_normalized_scores)
export(indel_top_k)
export(indel_normalized_top_k)
export(indel_best)
export(indel_normalized_best)
export(hamming_score)
export(hamming_normalized_score)
export(hamming_scores)
export(hamming_normalized_scores)
export(hamming_top_k)
export(hamming_normalized_top_k)
export(hamming_best)
export(hamming_normalized_best)
export(jaro_similarity)
export(jaro_similarities)
export(jaro_top_k)
export(jaro_best)
export(jaro_winkler_similarity)
export(jaro_winkler_similarities)
export(jaro_winkler_top_k)
export(jaro_winkler_best)
export(smith_waterman_score)
export(smith_waterman_normalized_score)
export(smith_waterman_scores)
export(smith_waterman_normalized_scores)
export(smith_waterman_farrar_score)
export(smith_waterman_farrar_normalized_score)
export(smith_waterman_farrar_scores)
export(smith_waterman_farrar_normalized_scores)
export(smith_waterman_top_k)
export(smith_waterman_best)
export(needleman_wunsch_score)
export(needleman_wunsch_normalized_score)
export(needleman_wunsch_scores)
export(needleman_wunsch_normalized_scores)
export(extract)
export(extract_best)
export(cdist)
export(cdist_above_threshold)
export(cdist_top_k)
export(cdist_top_k_per_query)
export(lcs_length)
export(lcs_substring_length)
export(lcs_substring)
export(jaccard)
export(jaccard_similarities)
export(dice)
export(dice_similarities)
export(cosine)
export(cosine_similarities)
export(overlap)
export(overlap_similarities)
export(ratcliff_obershelp_similarity)
export(ratcliff_obershelp_similarities)
export(partial_ratio)
export(token_sort_ratio)
export(token_set_ratio)
export(partial_token_sort_ratio)
export(partial_token_set_ratio)
export(WRatio)
export(monge_elkan)
export(MetaphoneVariant)
export(DoubleMetaphoneVariant)
export(BmpmRuleType)
export(soundex)
export(soundex_equal)
export(metaphone)
export(metaphone_equal)
export(nysiis)
export(nysiis_equal)
export(match_rating_codex)
export(match_rating_compare)
export(caverphone)
export(cologne_phonetic)
export(daitch_mokotoff)
export(double_metaphone)
export(beider_morse)
export(dtw)
export(dtw_distances)
export(AlignmentPath)
export(AlignmentResult)
export(Scores)
export(smith_waterman_path)
export(smith_waterman_path_info)
export(smith_waterman_cigar)
export(smith_waterman_trace_cigar)
export(smith_waterman_trade_cigar)
export(needleman_wunsch_path)
export(needleman_wunsch_path_info)
export(needleman_wunsch_cigar)
export(needleman_wunsch_trace_cigar)
export(needleman_wunsch_trade_cigar)
export(BackendKind)
export(BackendRecord)
export(available_backends)
export(backend_is_available)
export(detect_best_backend)
S3method(print,stride_alignment_path)
S3method(print,stride_alignment_result)
export(SubstitutionMatrix)
export(substitution_matrix_encode)
export(substitution_matrix_score)
export(substitution_matrix_score_step_limit)
export(substitution_matrix_transpose)
export(substitution_matrix_from_ncbi_text)
export(identity_matrix)
export(ascii_matrix)
export(keyboard)
export(keyboard_from_confusion_counts)
export(keyboard_from_npy)
export(keyboard_available)
export(blosum30)
export(blosum35)
export(blosum40)
export(blosum45)
export(blosum50)
export(blosum55)
export(blosum60)
export(blosum62)
export(blosum65)
export(blosum70)
export(blosum75)
export(blosum80)
export(blosum85)
export(blosum90)
export(blosum100)
export(pam10)
export(pam20)
export(pam30)
export(pam40)
export(pam50)
export(pam60)
export(pam70)
export(pam80)
export(pam90)
export(pam100)
export(pam110)
export(pam120)
export(pam130)
export(pam140)
export(pam150)
export(pam160)
export(pam170)
export(pam180)
export(pam190)
export(pam200)
export(pam210)
export(pam220)
export(pam230)
export(pam240)
export(pam250)
export(pam260)
export(pam270)
export(pam280)
export(pam290)
export(pam300)
export(pam310)
export(pam320)
export(pam330)
export(pam340)
export(pam350)
export(pam360)
export(pam370)
export(pam380)
export(pam390)
export(pam400)
export(pam410)
export(pam420)
export(pam430)
export(pam440)
export(pam450)
export(pam460)
export(pam470)
export(pam480)
export(pam490)
export(pam500)
export(nuc44)
export(dna_match)
export(ascii_text)
